<md-list class="todo-list" [ngClass]="filterKey">
  <div class="todo-item" *ngFor="let todo of todos | async" [ngClass]="{'not-checked': !todo.done, 'checked': todo.done}">
    <div class="counter">
      <span>{{todo.id}}</span>
    </div>
    <md-list-item >
      <md-icon md-list-icon>
        <md-checkbox [(ngModel)]="todo.done" (click)="logChange()"></md-checkbox>
      </md-icon>
      <h4 md-line>{{todo.title}}</h4>
      <p md-line class="date">{{todo.createdAt | date:'HH:mm:ss'}}</p>
      <button md-icon-button (click)="remove(todo)">
        <i class="material-icons">clear</i>
      </button>
    </md-list-item>
  </div>
</md-list>
